 <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">プロフィール</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
      </button>
    <% if user_signed_in? %>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"><%= link_to "社名・住所", edit_company_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "基本情報", edit_companies_detail_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "業種",  edit_companies_type_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "対応可能エリア",  edit_companies_correspondence_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "会社PR", edit_companies_status_path, class: "nav-link" %></li>
        </ul>
      </div>
    <% else %>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"><%= link_to "社名・住所",class: "nav-link" %></li>
          //
          <li class="nav-item"><%= link_to "基本情報",class: "nav-link" %></li>
          //
          <li class="nav-item"><%= link_to "業種",class: "nav-link" %></li>
          //
          <li class="nav-item"><%= link_to "対応可能エリア",class: "nav-link" %></li>
          //
          <li class="nav-item"><%= link_to "会社PR", class: "nav-link" %></li>
        </ul>
      </div>
    <% end %>
    </nav>
