<div class="container-fluid">
<!--ヘッダー-->
  <%= render "shared/header" %>
<!-- スライダー -->
    <header>
        <div class="carousel-inner">
          <%= image_tag 'main.jpg', class:"img-fluid rounded" %>
        </div>
    </header>
<!--ジャンボトロン-->
<div class="row-prof">
<!-- インフォメーション バー記述情報-->
<form>
  <div class="form-group mt-5">
    <label for="formControlRange">
      <h3 class="prof_color">プロフィール完了度</h3>
    </label>
    <input type="range" class="form-control-range" id="formControlRange">
  </div>
</form>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">進捗</th>
      <th scope="col">完了</th>
      <th scope="col">未完了</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">社名・住所</th>
      <td>○</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">基本情報</th>
      <td></td>
      <td>○</td>
    </tr>
    <tr>
      <th scope="row">会社ロゴ</th>
      <td></td>
      <td>○</td>
    </tr>
    <tr>
      <th scope="row">会社概要</th>
      <td></td>
      <td>○</td>
    </tr>
    <tr>
      <th scope="row">業種</th>
      <td></td>
      <td>○</td>
    </tr>
    <tr>
      <th scope="row">対応可能エリア</th>
      <td></td>
      <td>○</td>
    </tr>
    <tr>
      <th scope="row">請負ステータス</th>
      <td></td>
      <td>○</td>
    </tr>
    <tr>
      <th scope="row">技術資格保有者</th>
      <td></td>
      <td>○</td>
    </tr>
    <tr>
      <th scope="row">保有建機</th>
      <td></td>
      <td>○</td>
    </tr>
    <tr>
      <th scope="row">請負PR</th>
      <td></td>
      <td>○</td>
    </tr>

  </tbody>
</table>
</div>
<!-- カード タイトル -->
    <div class="row-middle-title mt-5">
      <h3>おすすめの協力会社</h3>
    </div>
<!-- カード -->
    <div class="row-middle mt-2 mb-5">
      <div class="card-deck">
        <div class="card">
          <%= image_tag 'logo2.jpg', class: "bd-placeholder-img card-img-top", width: "100%" ,height: "200"%>
          <%# <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="/app/assets/images/logo.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg> %>
          
          <div class="card-body">
            <h5 class="card-title">有限会社ビスケット</h5>
            <p class="card-text">内装一式、現場監理を承ります。得意な分野は大工工事で職人多数在籍中</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <%= image_tag 'logo3.jpg', class: "bd-placeholder-img card-img-top", width: "100%" ,height: "200"%>
          <%# <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg> %>
          <div class="card-body">
            <h5 class="card-title">株式会社DIY</h5>
            <p class="card-text">地元に密着し型でしたが、人数大幅アップに伴い対応エイリアを拡大しました</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <%= image_tag 'logo4.jpg', class: "bd-placeholder-img card-img-top", width: "100%" ,height: "200"%>
          <%# <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg> %>
          <div class="card-body">
            <h5 class="card-title">PRC株式会社</h5>
            <p class="card-text">電気工事なら弊社にお任せください、給排水設備にも対応出来ますので、お気軽にご相談ください</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        </div>
      </div>

<!-- カード タイトル -->
    <div class="row-middle-title mt-5">
      <h3>仕事を依頼する</h3>
    
<!-- カード -->
    <div class="row-middle mt-2 mb-5">
      <div class="card-deck">
        <div class="card">
          <%= image_tag 'logo.jpg', class: "bd-placeholder-img card-img-top", width: "100%" ,height: "200"%>
          <%# <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg> %>
          <div class="card-body">
            <h5 class="card-title">AC株式会社</h5>
            <p class="card-text">締め切り日：2021年1月31日まで<br/>内容：内装工事一式<br/>現場：都内</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <%= image_tag 'logo6.jpg', class: "bd-placeholder-img card-img-top", width: "100%" ,height: "200"%>
          <%# <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg> %>
          <div class="card-body">
            <h5 class="card-title">玄海株式会社</h5>
            <p class="card-text">締め切り日：2021年2月31日まで<br/>内容：クロス工事職人急募<br/>現場：港区</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <%= image_tag 'logo5.jpg', class: "bd-placeholder-img card-img-top", width: "100%" ,height: "200"%>
          <%# <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg> %>
          <div class="card-body">
            <h5 class="card-title">PRC株式会社</h5>
            <p class="card-text">締め切り日：2021年2月31日まで<br/>内容：メンテナンス工事<br/>現場：都内各所</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        </div>
      </div>
     </div>

     <!-- カード タイトル --> 
    <div class="row-middle-title mt-5">
      <h3>最新の施工事例</h3>
    </div>
<!-- カード -->
    <div class="row-middle mt-2 mb-5">
      <div class="card-deck">
       <div class="card">
          <%= image_tag '17-interior-work.jpg', class: "bd-placeholder-img card-img-top", width: "100%" ,height: "200"%>
          <%# <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg> %>
          <div class="card-body">
            <h5 class="card-title">佐々木株式会社</h5>
            <p class="card-text">内容：内装一式工事<br/>現場：北区北赤羽マンション3階</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
         <div class="card">
          <%= image_tag 'NXPL-DSC_1202.jpg', class: "bd-placeholder-img card-img-top", width: "100%" ,height: "200"%>
          <%# <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg> %>
          <div class="card-body">
            <h5 class="card-title">KD有限会社</h5>
            <p class="card-text">内容：給排水設備工事<br/>現場：都内20店舗</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
         <div class="card">
          <%= image_tag 'image_01_00000008.jpg', class: "bd-placeholder-img card-img-top", width: "100%" ,height: "200"%>
          <%# <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg> %>
          <div class="card-body">
            <h5 class="card-title">株式会社SEC</h5>
            <p class="card-text">内容：内装工事一式工事<br/>現場：西麻布STATEビル8階</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        
        </div>
      </div>
 <!-- フッター -->
  <%= render "shared/footer" %>

</div>