<div class="container-fluid">
  <%= render "shared/header" %>

<!-- インフォメーション記述情報-->
  <div class="companies-title mt-3">
    <div calss="row-top">
      <h1>業種を入力する</h1>
        <p>本項目を埋めると「協力会社を探す」の一覧にあなたの情報が掲載されます。<br>発注会社から仕事を受けやすくするためにも、情報編集を行ってください。</p>
    </div>
<!-- info tab-->

     <%= render "shared/navbar" %>

<!-- インフォメーション navbar 記述情報-->
        <div class="row-border">
          <form>
            <div class="form-group mt-3 ">
              <label for="formControlRange">
                <h3>プロフィール完了度</h3>
              </label>
              <input type="range" class="form-control-range" id="formControlRange">
            </div>
          </form>
        </div>
<!-- インフォメーション 記述情報-->
  </div>
  
<!-- List group -->
  <div class="weight-bold-text mt-5">
      業種
    </div>
   <!-- form_with -->
      <div class="row-main col-8">
          <%= form_with(model: @company_type,url: companies_types_path(@company_type),method: :post,local: true) do |f| %>
          <%= render 'shared/error_messages', model:  @company_type %>

    <div class="row mt-3">
    <!-- List group -->
      <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id="list-doboku-list" data-toggle="list" href="#list-doboku" role="tab" aria-controls="list-doboku">土木</a>
          <a class="list-group-item list-group-item-action" id="list-kentiku-list" data-toggle="list" href="#list-kentiku" role="tab" aria-controls="list-kentiku">建築</a>
          <a class="list-group-item list-group-item-action" id="list-setubi-list" data-toggle="list" href="#list-setubi" role="tab" aria-controls="list-setubi">設備</a>
          <a class="list-group-item list-group-item-action" id="list-denki-list" data-toggle="list" href="#list-denki" role="tab" aria-controls="list-denki">電気・通信</a>
          <a class="list-group-item list-group-item-action" id="list-tobi-list" data-toggle="list" href="#list-tobi" role="tab" aria-controls="list-tobi">とび・土工</a>
          <a class="list-group-item list-group-item-action" id="list-kouzai-list" data-toggle="list" href="#list-kouzai" role="tab" aria-controls="list-kouzai">鋼構造物</a>
          <a class="list-group-item list-group-item-action" id="list-sekkei-list" data-toggle="list" href="#list-sekkei" role="tab" aria-controls="list-sekkei">設計・デザイン</a>
          <a class="list-group-item list-group-item-action" id="list-etc-list" data-toggle="list" href="#list-etc" role="tab" aria-controls="list-etc">その他</a>
        </div>
      </div>

   <!-- Tab panes -->
          <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
              <!--土木-->
                    <div class="tab-pane fade show active" id="list-doboku" role="tabpanel" aria-labelledby="list-doboku-list">
                      <% qualification = ["足場工事","舗装工事","しゆんせつ工事","石工事","造園工事","土木工事"] %>
                        <% qualification.each do |q| %><br>
                        <%= f.check_box :qualification , {multiple: true},q,nil %>
                        <%= f.label :qualification, q %>
                      <% end %>
                    </div>
              <!--建築-->
                  <div class="tab-pane fade" id="list-kentiku" role="tabpanel" aria-labelledby="list-kentiku-list">
                    <% qualification = ["建築工事","大工工事","左官工事","内装仕上げ工事","屋根工事","板金工事","タイル工事","れんが工事","ブロック工事","塗装工事","防水工事","建具工事","ガラス工事","鉄筋工事","耐震工事","断熱工事"] %>
                        <% qualification.each do |q| %><br>
                        <%= f.check_box :qualification , {multiple: true},q,nil %>
                        <%= f.label :qualification, q %>
                      <% end %>
                  </div>
              <!--設備-->
                    <div class="tab-pane fade" id="list-setubi" role="tabpanel" aria-labelledby="list-setubi-list">
                     <% qualification = ["管工事","機械器具設置工事","熱絶縁工事","さく井工事","ガス管配管工事","水道施設工事","消防施設工事","清掃施設工事","ダクト工事","衛生設備工事","管内更生工事","給排水・給湯設備工事","空気調和設備工事","厨房設備工事"] %>
                        <% qualification.each do |q| %><br>
                        <%= f.check_box :qualification , {multiple: true},q,nil %>
                        <%= f.label :qualification, q %>
                      <% end %>
                    </div>
              <!--電気・通信-->
                    <div class="tab-pane fade" id="list-denki" role="tabpanel" aria-labelledby="list-denki-list">
                      <% qualification = ["TV電波障害防除設備工事","データ通信設備工事","引込線工事","空中線設備工事","構内電気設備工事","照明工事","情報制御設備工事","信号設備工事","送配電線工事","電気通信機械設置工事","発電設備工事","変電設備工事","放送機械設置工事"] %>
                        <% qualification.each do |q| %><br>
                        <%= f.check_box :qualification , {multiple: true},q,nil %>
                        <%= f.label :qualification, q %>
                      <% end %>
                    </div>
              <!--とび・土工-->
                    <div class="tab-pane fade" id="list-tobi" role="tabpanel" aria-labelledby="list-tobi-list">
                      <% qualification = ["くい工事","コンクリート工事","とび工事","はつり工事","解体工事","重量物工事","足場仮設工事","地盤改良工事","鉄骨組立て工事","土工事","PC工事"] %>
                        <% qualification.each do |q| %><br>
                        <%= f.check_box :qualification , {multiple: true},q,nil %>
                        <%= f.label :qualification, q %>
                      <% end %>
                    </div>
              <!--鋼構造物-->
                    <div class="tab-pane fade" id="list-kouzai" role="tabpanel" aria-labelledby="list-kouzai-list">
                      <% qualification = ["看板・サイン工事","橋梁工事","建築金物工事","鉄骨工事","鉄塔工事","溶接工事"] %>
                        <% qualification.each do |q| %><br>
                        <%= f.check_box :qualification , {multiple: true},q,nil %>
                        <%= f.label :qualification, q %>
                      <% end %>
                    </div>
              <!--設計・デザイン-->
                    <div class="tab-pane fade" id="list-sekkei" role="tabpanel" aria-labelledby="list-sekkei-list">
                      <% qualification = ["デザイン","設計"] %>
                        <% qualification.each do |q| %><br>
                        <%= f.check_box :qualification , {multiple: true},q,nil %>
                        <%= f.label :qualification, q %>
                      <% end %>
                    </div>
              <!--その他-->
                    <div class="tab-pane fade" id="list-etc" role="tabpanel" aria-labelledby="list-etc-list">
                      <% qualification = ["地盤改良","地盤調査","ユニットバス工事","太陽光発電","介護事","介護予防福祉用具レンタル","ハウスクリーニング","不動産","その他"] %>
                        <% qualification.each do |q| %><br>
                        <%= f.check_box :qualification , {multiple: true},q,nil %>
                        <%= f.label :qualification, q %>
                      <% end %>
                    </div>

                  </div>
                </div>
            </div>
          </div>

          <div class="text-center mb-5 col-6">
            <%= f.submit "記録する" ,class:"btn btn-block send-button tx-tfm" %>
          </div>
          <% end %>
      </div>
    </div>  
<!-- フッター -->
    <%= render "shared/footer" %>
</div>